
# Exploratory Data Analysis I - Car Sales

## Table of Contents

1. [Problem Statement](#section1)<br>
2. [Data Loading and Description](#section2)
3. [Data Profiling](#section3)
    - 3.1 [Understanding the Dataset](#section301)<br/>
    - 3.2 [Pre Profiling](#section302)<br/>
    - 3.3 [Preprocessing](#section303)<br/>
    - 3.4 [Post Profiling](#section304)<br/>
4. [Questions](#section4)
    - 4.1 
    - 4.2 
    - 4.3 
    - 4.4 
    - 4.5 
    - 4.6 
    - 4.7 
    - 4.8 
    - 4.9 
    - 4.10
    - 4.11
    - 4.12
5. [Conclusions]

### 1. Problem Statement

The notebooks explores the basic use of __Pandas__ and will cover the basic commands of __Exploratory Data Analysis(EDA)__ which includes __cleaning__, __munging__, __combining__, __reshaping__, __slicing__, __dicing__, and __transforming data__ for analysis purpose.

* __Exploratory Data Analysis__ <br/>
Understand the data by EDA and derive simple models with Pandas as baseline.
EDA ia a critical and first step in analyzing the data and we do this for below reasons :
    - Finding patterns in Data
    - Determining relationships in Data
    - Checking of assumptions
    - Preliminary selection of appropriate models
    - Detection of mistakes

#### Import Packages

In [23]:
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analysis
import pandas_profiling
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
sns.set()

from subprocess import check_output

### Importing datasets

In [24]:
carsales_data = pd.read_csv("https://raw.githubusercontent.com/ravikumarsahu/Term-1/master/Data/Projects/car_sales_new.csv")     # Importing training dataset using pd.read_csv

In [25]:
carsales_data.columns

Index(['car', 'price', 'body', 'mileage', 'engV', 'engType', 'registration',
       'year', 'model', 'drive'],
      dtype='object')

In [26]:
carsales_data.describe()

               price      mileage         engV         year
count    9576.000000  9576.000000  9142.000000  9576.000000
mean    15633.317316   138.862364     2.646344  2006.605994
std     24106.523436    98.629754     5.927699     7.067924
min         0.000000     0.000000     0.100000  1953.000000
25%      4999.000000    70.000000     1.600000  2004.000000
50%      9200.000000   128.000000     2.000000  2008.000000
75%     16700.000000   194.000000     2.500000  2012.000000
max    547800.000000   999.000000    99.990000  2016.000000

### 3.2 Pre Profiling

- By pandas profiling, an __interactive HTML report__ gets generated which contins all the information about the columns of the dataset, like the __counts and type__ of each _column_. Detailed information about each column, __coorelation between different columns__ and a sample of dataset.<br/>
- It gives us __visual interpretation__ of each column in the data.
- _Spread of the data_ can be better understood by the distribution plot. 
- _Grannular level_ analysis of each column.

In [27]:
profile = pandas_profiling.ProfileReport(carsales_data)
profile.to_file(outputfile="carsales_data_before_preprocessing.html")

### 3.3 Preprocessing

- Dealing with missing values<br/>
    - Dropping/Replacing missing entries of __Embarked.__
    - Replacing missing values of __Age__ and __Fare__ with median values.
    - Dropping the column __'Cabin'__ as it has too many _null_ values.

In [28]:
carsales_data.drive = carsales_data.drive.fillna(carsales_data['drive'].mode()[0])
carsales_data.mileage = carsales_data.mileage.fillna(carsales_data['mileage'].mode()[0])

In [29]:
carsales_data.head()

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,front

In [30]:
profile = pandas_profiling.ProfileReport(carsales_data)
profile.to_file(outputfile="carsales_data_after_preprocessing.html")

In [ ]:
cars_groupby = carsales_data.groupby((['car' , 'model']))

for (rows,cols) in carsales_data.iterrows() :
       
        for name, group in cars_groupby:
            
            if (name[0] == cols.car) & (cols.mileage == 0) :
                 carsales_data['mileage'].replace(to_replace=cols.mileage, value=group.mileage.median(), inplace=True)
      
        
        
#carsales_data['mileage']
carsales_data.to_csv("postprocessing_car_sales.csv", sep=',', encoding='utf-8')

### Questions - Sales on basis of engine type.

In [ ]:
sns.countplot(x='engType', data=carsales_data).set_title('Number of Sales on basis of eng type')